@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

:root{
    --roboto: 'Roboto', sans-serif;
    --figtree: 'Figtree', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}


nav{
    border: 2px solid red;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen{
    border: 2px solid blue;
    width: 100%;
    height: auto;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0 1rem;
    font-family: var(--roboto);
}

nav .left h1{
    font-family: var(--roboto);
    color: black;
    padding: 0 1rem;
}

.bottom{
    position: absolute;
    bottom: 0%;
    left: 0%;
    border: 2px solid blue;
    width: 100%;
    height: 26vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom .controls{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    font-family: var(--figtree);
    gap: 4rem;
}
.bottom #textInput{
    height: 3rem;
    width: 40rem;
    font-size: 1.4rem;
    font-family: var(--figtree);
    padding: 0.5rem;
}

canvas{
    border: 2px solid red;    
    display: block;
    margin: auto auto;
}