@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

:root{
    --roboto: 'Roboto', sans-serif;
    --figtree: 'Figtree', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}


nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen{
    width: 100%;
    height: auto;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0 1rem;
    font-family: var(--roboto);
}

nav .left h1{
    font-family: var(--roboto);
    color: black;
    padding: 0 1rem;
}

.bottom{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 26vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom .controls{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    font-family: var(--figtree);
    gap: 4rem;
}
.bottom #textInput{
    height: 3rem;
    width: 40rem;
    font-size: 1.4rem;
    font-family: var(--figtree);
    padding: 0.5rem;
}

canvas{
    border: 2px solid rgb(0, 0, 0);    
    display: block;
    margin: auto auto;
}

#downloadBtn{
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-family: var(--figtree);
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}


/*effects*/
.hover-underline {
  font-size: 2rem;
  color: #000000;
  position: relative;
  display: inline-block;
}
​
.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}